---
import Layout from "@layouts/Layout.astro";
import { Icon } from "astro-icon";
---

<Layout title="404 Error" description="404 Error Not Found">
  <section class="grid place-items-center text-center overflow-hidden mt-9">
    <Icon name="lucide:mountain-snow" class="w-36 h-36" />
    <h1 class="my-8 text-5xl font-semibold">404 Error</h1>
    <h2 class="text-2xl dark:text-zinc-300 mb-5">Sorry, it doesn't exist.</h2>
    <a
      href="/"
      class="dark:bg-zinc-800 bg-zinc-200 rounded-xl p-3 text-black dark:text-white m-2 ring-2 ring-opacity-0 ring-blue-500 hover:ring-opacity-100"
      >Go back to homepage</a
    >
  </section>
</Layout>
