---
import Layout from "@layouts/Layout.astro";

const metadata = {
  title: "About Us - GitHub Tips",
  description: "About Us.",
};

---

<Layout {...metadata}>
  <section>
    <h1 class="sm:text-4xl text-3xl font-bold mb-6 dark:text-white">About Us</h1>
    <p class="dark:text-zinc-300 mb-6">Collection of Git and GitHub Tips.</p>
  </section>
  <section>
       This site is a community initiative to collect Git and GitHub tips. We are a group of developers who are passionate about Git and GitHub. We are always looking for new contributors to help us improve this site. If you are interested in contributing, please read our <a href="/contributing">contributing guide</a>.
  </section>
</Layout>