---
import { Icon } from "astro-icon";
---

<div
  class="text-lg not-italic font-normal leading-7 z-20 text-gray-900 box-border m-0 max-w-full p-0 align-baseline dark:bg-zinc-700 bg-zinc-300 w-12 h-12 fixed cursor-pointer flex justify-center items-center bottom-8 right-8 rounded-full left-unset border-none border-separate border-spacing-0 theme-toggle"
>
  <button aria-label="theme toggle">
    <Icon name="eva:moon-outline" class="w-6 hover:text-slate-500 dark:hover:text-slate-400 dark:hidden" />
    <Icon name="akar-icons:sun" class="w-6 dark:text-white hover:text-slate-500 dark:hover:text-slate-400 hidden dark:block" />
  </button>
</div>
